@import url('https://fonts.googleapis.com/css?family=Comfortaa%7CRighteous');

body {
  background: url(https://images.clipartlogo.com/files/images/34/344942/seamless-with-swirl-pattern-background_f.jpg);
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  background: rgb(190, 246, 253);
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  
}

.card:hover {
  box-shadow: 0 80px 160px 0 rgba(0,0,0,0.5);
}
a {
  color: rgb(190, 246, 253);
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgb(74, 74, 74);
}

a:hover {
  color: rgb(248, 248, 255);
}

li {
  list-style: none;
  background: rgba(111, 111, 111, 0.322);
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

li a {
  color: rgb(131, 131, 255);
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: orange;
  background: rgb(17, 22, 48);
  font-size: 1em;
  border-radius: 10%;
}